{% extends 'layouts/base.html' %}
{% load static %}

{% block title %}
Главная
{% endblock title %}


{% block content %}


<body>
<!-- Page Heading Section Start -->
<div class="page-heading-section section bg-parallax" data-bg-image="{% static 'images/bg/bg-1.jpg' %}"
     data-overlay="50">
    <div class="container">
        <div class="page-heading-content text-center">
            <h3 class="title">FAQ'S</h3>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/index">Home</a></li>
                <li class="breadcrumb-item active">FAQ'S</li>
            </ol>
        </div>
    </div>
</div>
<!-- FAQ'S Section Start -->
<div class="section section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-12 mx-auto">

                <div class="faq-card card">
                    <div class="card-header">
                        <h6>Q. Dummy text lorem ipsum dolor sit amet</h6>
                    </div>
                    <div class="card-body">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsa culpa ea suscipit animi,
                        reprehenderit incidunt nostrum voluptas, nihil ipsum quaerat, dolore magni veritatis aliquid?
                        Illo delectus eligendi ullam nobis sint ad possimus! Expedita id asperiores veniam sunt dolores
                        corrupti, quam odit blanditiis est enim distinctio quidem ut dignissimos, vel harum?
                    </div>
                </div>

                <div class="faq-card card">
                    <div class="card-header">
                        <h6>Q. Another dummy text lorem ipsum</h6>
                    </div>
                    <div class="card-body">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsa culpa ea suscipit animi,
                        reprehenderit incidunt nostrum voluptas, nihil ipsum quaerat, dolore magni veritatis aliquid?
                        Illo delectus eligendi ullam nobis sint ad possimus! Expedita id asperiores veniam sunt dolores
                        corrupti, quam odit blanditiis est enim distinctio quidem ut dignissimos, vel harum?
                    </div>
                </div>

                <div class="faq-card card">
                    <div class="card-header">
                        <h6>Q. More dummy text lorem dolor amet</h6>
                    </div>
                    <div class="card-body">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsa culpa ea suscipit animi,
                        reprehenderit incidunt nostrum voluptas, nihil ipsum quaerat, dolore magni veritatis aliquid?
                        Illo delectus eligendi ullam nobis sint ad possimus! Expedita id asperiores veniam sunt dolores
                        corrupti, quam odit blanditiis est enim distinctio quidem ut dignissimos, vel harum?
                    </div>
                </div>

                <div class="faq-card card">
                    <div class="card-header">
                        <h6>Q. More dummy text here for accordion</h6>
                    </div>
                    <div class="card-body">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsa culpa ea suscipit animi,
                        reprehenderit incidunt nostrum voluptas, nihil ipsum quaerat, dolore magni veritatis aliquid?
                        Illo delectus eligendi ullam nobis sint ad possimus! Expedita id asperiores veniam sunt dolores
                        corrupti, quam odit blanditiis est enim distinctio quidem ut dignissimos, vel harum?
                    </div>
                </div>

                <div class="faq-card card">
                    <div class="card-header">
                        <h6>Q. Dummy text lorem ipsum dolor sit amet</h6>
                    </div>
                    <div class="card-body">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsa culpa ea suscipit animi,
                        reprehenderit incidunt nostrum voluptas, nihil ipsum quaerat, dolore magni veritatis aliquid?
                        Illo delectus eligendi ullam nobis sint ad possimus! Expedita id asperiores veniam sunt dolores
                        corrupti, quam odit blanditiis est enim distinctio quidem ut dignissimos, vel harum?
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- FAQ'S Section End -->
<!-- Page Heading Section End -->


</body>

{% endblock content %}
