{% extends 'layouts/base.html' %}
{% load static %}

{% block title %}
Главная
{% endblock title %}


{% block content %}


<body>

<!-- Slider Section Start -->
<div class="slider-section section">
    <div class="slide-item-2 bg-parallax" data-bg-image="{% static 'images/slider/slider-2.jpg' %}" data-overlay="50">
        <div class="container">
            <div class="slider-content-2 text-left">
                <h2 class="title">Find Your Next Job</h2>
                <p>More then <span>1,524</span> job listed here.</p>
            </div>

            <!-- Job Search Form Start -->
            <div class="job-search-form-2">
                <form action="#">
                    <div class="row no-gutters mb-n2 mb-sm-n0">

                        <div class="col-lg-auto col-sm-6 col-12 flex-grow-1 mb-2 mb-sm-0">
                            <select name="" id="">
                                <option value="1">Junior Software Engineer</option>
                                <option value="2">Software Engineer</option>
                                <option value="3">Senior Software Engineer</option>
                                <option value="4">Technical Lead</option>
                                <option value="5">System Architect</option>
                            </select>
                        </div>

                        <div class="col-lg-auto col-sm-6 col-12 flex-grow-1 mb-2 mb-sm-0">
                            <select>
                                <option value="1">Kyiv</option>
                                <option value="2">Cherkasy</option>
                                <option value="3">Chernihiv</option>
                                <option value="4">Chernivtsi</option>
                                <option value="5">Dnipropetrovsk</option>
                                <option value="6">Donetsk</option>
                                <option value="7">Ivano-Frankivsk</option>
                                <option value="8">Kharkiv</option>
                                <option value="9">Kherson</option>
                                <option value="10">Khmelnytsk</option>
                                <option value="11">Kirоvohrad</option>
                                <option value="12">Luhansk</option>
                                <option value="13">Lviv</option>
                                <option value="14">Mykolaiv</option>
                                <option value="15">Odesa</option>
                                <option value="16">Poltava</option>
                                <option value="17">Rivne</option>
                                <option value="18">Sumy</option>
                                <option value="19">Ternopil</option>
                                <option value="20">Vinnytsia</option>
                                <option value="21">Lutsk</option>
                                <option value="22">Uzhhorod</option>
                                <option value="23">Zaporizhzhia</option>
                                <option value="24">Zhytomyr</option>
                            </select>
                        </div>

                        <div class="col-lg-auto col-sm-6 col-12 flex-grow-1 mb-2 mb-sm-0">
                            <select>
                                <option value="1">Python</option>
                                <option value="2">ABAP</option>
                                <option value="3">APL</option>
                                <option value="4">C</option>
                                <option value="5">C#/.NET</option>
                                <option value="6">C++</option>
                                <option value="7">Clojure</option>
                                <option value="8">Dart</option>
                                <option value="9">Delphi</option>
                                <option value="10">Erlang</option>
                                <option value="11">Flex/Flash/AIR</option>
                                <option value="12">Golang</option>
                                <option value="13">Haskell</option>
                                <option value="14">Java</option>
                                <option value="15">JavaScript</option>
                                <option value="16">Kotlin</option>
                                <option value="17">Objective-C</option>
                                <option value="18">Perl</option>
                                <option value="19">PHP</option>
                                <option value="20">1C</option>
                                <option value="21">Ruby/Rails</option>
                                <option value="22">Scala</option>
                                <option value="23">SQL</option>
                                <option value="24">Swift</option>
                            </select>
                        </div>

                        <div class="col-lg-auto col-sm-6 col-12 flex-grow-1 mb-2 mb-sm-0">
                            <button class="btn btn-primary">Search</button>
                        </div>

                    </div>
                </form>
            </div>
            <!-- Job Search Form End -->

        </div>
    </div>
</div>
<!-- Slider Section End -->

<!-- Popular Categories Section Start -->
<div class="section section-padding pb-0">
    <div class="container">
        <div class="section-title">
            <h3 class="title">Popular Categories</h3>
            <p>Here's the categories getting most view on the website.</p>
        </div>

        <!-- Category Slider Start -->
        <div class="job-category-slider row">

            <div class="col">
                <a href="#" class="job-category badge-primary">
                    <div class="inner">
                        <i class="flaticon-development"></i>
                        <h6 class="title">Development</h6>
                    </div>
                </a>
            </div>

            <div class="col">
                <a href="#" class="job-category badge-secondary">
                    <div class="inner">
                        <i class="flaticon-design"></i>
                        <h6 class="title">Design</h6>
                    </div>
                </a>
            </div>

            <div class="col">
                <a href="#" class="job-category badge-success">
                    <div class="inner">
                        <i class="flaticon-multimedia"></i>
                        <h6 class="title">Multimedia</h6>
                    </div>
                </a>
            </div>

            <div class="col">
                <a href="#" class="job-category badge-danger">
                    <div class="inner">
                        <i class="flaticon-finance"></i>
                        <h6 class="title">Finance</h6>
                    </div>
                </a>
            </div>

            <div class="col">
                <a href="#" class="job-category badge-warning">
                    <div class="inner">
                        <i class="flaticon-networking"></i>
                        <h6 class="title">Networking</h6>
                    </div>
                </a>
            </div>

            <div class="col">
                <a href="#" class="job-category badge-info">
                    <div class="inner">
                        <i class="flaticon-photography"></i>
                        <h6 class="title">Photography</h6>
                    </div>
                </a>
            </div>

            <div class="col">
                <a href="#" class="job-category badge-primary">
                    <div class="inner">
                        <i class="flaticon-education"></i>
                        <h6 class="title">Education</h6>
                    </div>
                </a>
            </div>

            <div class="col">
                <a href="#" class="job-category badge-secondary">
                    <div class="inner">
                        <i class="flaticon-research"></i>
                        <h6 class="title">Research</h6>
                    </div>
                </a>
            </div>

            <div class="col">
                <a href="#" class="job-category badge-success">
                    <div class="inner">
                        <i class="flaticon-medical"></i>
                        <h6 class="title">Medical</h6>
                    </div>
                </a>
            </div>

            <div class="col">
                <a href="#" class="job-category badge-danger">
                    <div class="inner">
                        <i class="flaticon-government"></i>
                        <h6 class="title">Government</h6>
                    </div>
                </a>
            </div>

        </div>
        <!-- Category Slider End -->

    </div>
</div>
<!-- Popular Categories Section End -->




<!-- Recent Jobs Start -->
<div class="section section-padding">
    <div class="container">
        <div class="section-title">
            <h2 class="title">Latest Jobs</h2>
            <p>Here's the most recent job listed on the website.</p>
        </div>

        <!-- Job List Wrap Start -->
        <div class="job-list-wrap">

            <!-- Job List Start -->
            {% for post in page_obj %}
                <div class="job-list-wrap">

                    <!-- Job List Start -->
                    <a href="job-single.html" class="job-list">
                        <div class="company-logo col-auto">
                            <img src="/media/{{ post.company_logo }}"  width="50" height="50"  alt="Company Logo">
                        </div>
                        <div class="salary-type col-auto order-sm-3">
                            <span class="salary-range">{{ post.salary }} $</span>
                            <span class="badge badge-success">{{ post.job_type }}</span>
                        </div>
                        <div class="content col">
                            <h6 class="title">{{ post.experience }}</h6>
                            <ul class="meta">
                                <li><strong class="text-primary">{{ post.company }}</strong></li>
                                <li><i class="fa fa-map-marker"></i>{{ post.city }}</li>
                            </ul>
                        </div>
                    </a>


                </div>
            {% endfor %}
            <!-- Job List Start -->

        </div>
        <!-- Job List Wrap Start -->

        <div class="text-center mt-4 mt-lg-5">
            <a href="/job-list" class="btn btn-primary">View All Jobs</a>
        </div>

    </div>
</div>
<!-- Recent Jobs End -->




<!-- Funfact Section Start -->
<div class="section section-padding bg-parallax" data-bg-image="{% static 'images/bg/bg-1.jpg' %}" data-overlay="50">
    <div class="container">
        <div class="funfact-wrap row">

            <!-- Funfact Start -->
            <div class="funfact col-md-3 col-sm-6 col-12">
                <span class="counter">1354</span>
                <span class="title">Job Post</span>
            </div>
            <!-- Funfact Start -->

            <!-- Funfact Start -->
            <div class="funfact col-md-3 col-sm-6 col-12">
                <span class="counter">1741</span>
                <span class="title">Members</span>
            </div>
            <!-- Funfact Start -->

            <!-- Funfact Start -->
            <div class="funfact col-md-3 col-sm-6 col-12">
                <span class="counter">1204</span>
                <span class="title">Resume</span>
            </div>
            <!-- Funfact Start -->

            <!-- Funfact Start -->
            <div class="funfact col-md-3 col-sm-6 col-12">
                <span class="counter">142</span>
                <span class="title">Company</span>
            </div>
            <!-- Funfact Start -->

        </div>
    </div>
</div>
<!-- Funfact Section End -->

<!-- App Section Start -->
<div class="section section-padding pb-0">
    <div class="container">
        <div class="row align-items-center">

            <!-- App Content Start -->
            <div class="col-md-8 col-12">
                <div class="app-content">
                    <h2 class="title fw-700">Get Our Latest <br>It Job App</h2>
                    <p class="lead">Searching for jobs never been that easy. Now you can find job matched your career
                        expectation</p>
                    <div class="d-flex flex-wrap m-n2">
                        <a href="#" class="btn btn-primary m-2"><i class="fa fa-android mr-2"></i> Google Play</a>
                        <a href="#" class="btn btn-primary m-2"><i class="fa fa-apple mr-2"></i> App Store</a>
                    </div>
                </div>
            </div>
            <!-- App Content End -->

            <!-- App Image Start -->
            <div class="col-md-4 col-12 align-self-end">
                <div class="app-image">
                    <img src="{% static 'images/app/app-2.png' %}" alt="App Image">
                </div>
            </div>
            <!-- App Image End -->

        </div>
    </div>
</div>
<!-- App Section End -->

<!-- Pricing Section Start -->
<div class="section section-padding bg-gray">
    <div class="container">

        <div class="section-title">
            <h2 class="title">Pricing</h2>
            <p>Choose a plan that fits your needs</p>
        </div>

        <!-- Pricing Wrap Start -->
        <div class="pricing-wrap row">

            <!-- Pricing Start -->
            <div class="col-lg-4 col-md-6 col-sm-8 col-12 mx-auto">
                <div class="pricing">
                    <div class="inner">

                        <div class="head">
                            <span class="title">Basic</span>
                            <h2 class="price"><sup>$</sup>0<sup>.00</sup></h2>
                            <span class="duration">Per Month</span>
                        </div>

                        <div class="body">
                            <ul>
                                <li>1 job posting</li>
                                <li>0 featured job</li>
                                <li>Job displayed for 15 days</li>
                                <li>Email Support</li>
                            </ul>
                        </div>

                        <div class="foot">
                            <button class="btn">Buy Now</button>
                        </div>

                    </div>
                </div>
            </div>
            <!-- Pricing End -->

            <!-- Pricing Start -->
            <div class="col-lg-4 col-md-6 col-sm-8 col-12 mx-auto">
                <div class="pricing">
                    <div class="inner">

                        <div class="head">
                            <span class="title">Standard</span>
                            <h2 class="price"><sup>$</sup>10<sup>.99</sup></h2>
                            <span class="duration">Per Month</span>
                        </div>

                        <div class="body">
                            <ul>
                                <li>5 job posting</li>
                                <li>1 featured job</li>
                                <li>Job displayed for 30 days</li>
                                <li>Premium Support 24/7</li>
                            </ul>
                        </div>

                        <div class="foot">
                            <button class="btn">Buy Now</button>
                        </div>

                    </div>
                </div>
            </div>
            <!-- Pricing End -->

            <!-- Pricing Start -->
            <div class="col-lg-4 col-md-6 col-sm-8 col-12 mx-auto">
                <div class="pricing">
                    <div class="inner">

                        <div class="head">
                            <span class="title">Professional</span>
                            <h2 class="price"><sup>$</sup>25<sup>.99</sup></h2>
                            <span class="duration">Per Month</span>
                        </div>

                        <div class="body">
                            <ul>
                                <li>15 job posting</li>
                                <li>4 featured job</li>
                                <li>Job displayed for 60 days</li>
                                <li>Premium Support 24/7</li>
                            </ul>
                        </div>

                        <div class="foot">
                            <button class="btn">Buy Now</button>
                        </div>

                    </div>
                </div>
            </div>
            <!-- Pricing End -->

        </div>
        <!-- Pricing Wrap End -->

    </div>
</div>
<!-- Pricing Section End -->

<!-- Blog Section Start -->
<div class="section section-padding">
    <div class="container">

        <div class="section-title">
            <h3 class="title">Our Blog</h3>
            <p>Get more tips & tricks from out blog post.</p>
        </div>

        <!-- Blog Slider Start -->
        <div class="blog-slider row">

            <!-- Blog Start -->
            <div class="col">
                <div class="blog">
                    <div class="media">
                        <a href="/blog-single"><img src="{% static 'images/blog/blog-1.jpg' %}" alt=""></a>
                    </div>
                    <div class="content">
                        <h6 class="title"><a href="/blog-single">The Top 5 Job Interview Questions For IT
                            Professional</a></h6>
                        <ul class="meta">
                            <li>Posted on 25 Jan, 2019</li>
                            <li><a href="#">3 Comments</a></li>
                        </ul>
                        <div class="desc">
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Praesentium fugiat fugit
                                voluptates ut rem vitae.</p>
                        </div>
                        <a href="/blog-single" class="read-more">Read More <i class="fa fa-angle-right"></i></a>
                    </div>
                </div>
            </div>
            <!-- Blog End -->

            <!-- Blog Start -->
            <div class="col">
                <div class="blog">
                    <div class="media">
                        <a href="/blog-single"><img src="{% static 'images/blog/blog-2.jpg' %}" alt=""></a>
                    </div>
                    <div class="content">
                        <h6 class="title"><a href="/blog-single">7 Careers To Consider If You Love Traveling</a></h6>
                        <ul class="meta">
                            <li>Posted on 25 Jan, 2019</li>
                            <li><a href="#">3 Comments</a></li>
                        </ul>
                        <div class="desc">
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Praesentium fugiat fugit
                                voluptates ut rem vitae.</p>
                        </div>
                        <a href="/blog-single" class="read-more">Read More <i class="fa fa-angle-right"></i></a>
                    </div>
                </div>
            </div>
            <!-- Blog End -->

            <!-- Blog Start -->
            <div class="col">
                <div class="blog">
                    <div class="media">
                        <a href="/blog-single"><img src="{% static 'images/blog/blog-3.jpg' %}" alt=""></a>
                    </div>
                    <div class="content">
                        <h6 class="title"><a href="/blog-single">When the Perfect Candidate Turns Out To Be an Imperfect
                            Fit</a></h6>
                        <ul class="meta">
                            <li>Posted on 25 Jan, 2019</li>
                            <li><a href="#">3 Comments</a></li>
                        </ul>
                        <div class="desc">
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Praesentium fugiat fugit
                                voluptates ut rem vitae.</p>
                        </div>
                        <a href="/blog-single" class="read-more">Read More <i class="fa fa-angle-right"></i></a>
                    </div>
                </div>
            </div>
            <!-- Blog End -->

        </div>
        <!-- Blog Slider End -->

    </div>
</div>
<!-- Blog Section End -->

</body>


{% endblock content %}