{% load static %}
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Job</title>
    <meta name="robots" content="noindex, follow"/>
    <meta name="description" content="Финальный проект">
    <meta name="author" content="Снятков Максим">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/favicon.png' %}">

    <!-- CSS
	============================================ -->

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/vendor/bootstrap.min.css' %}">

    <!-- Icon Font CSS -->
    <link rel="stylesheet" href="{% static 'css/vendor/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/vendor/flaticon.css' %}">

    <!-- Plugins CSS -->
    <link rel="stylesheet" href="{% static 'css/plugins/slick.css' %}">

    <!-- Main Style CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>



















