{% load static %}

<!-- JS============================================ -->

<!-- Google Map API JS -->
<script src='https://maps.googleapis.com/maps/api/js?key=AIzaSyC3nDHy1dARR-Pa_2jjPCjvsOR4bcILYsM'></script>

<!-- Vendors JS -->
<script src="{% static 'js/vendor/modernizr-3.6.0.min.js' %}"></script>
<script src="{% static 'js/vendor/jquery-3.4.1.min.js' %}"></script>
<script src="{% static 'js/vendor/bootstrap.bundle.min.js' %}"></script>

<!-- Plugins JS -->
<script src="{% static 'js/plugins/slick.min.js' %}"></script>
<script src="{% static 'js/plugins/jquery.waypoints.min.js' %}"></script>
<script src="{% static 'js/plugins/jquery.counterup.min.js' %}"></script>
<script src="{% static 'js/plugins/jquery.parallax.js' %}"></script>
<script src="{% static 'js/plugins/jquery.ajaxchimp.min.js' %}"></script>
<script src="{% static 'js/plugins/ion.rangeSlider.min.js' %}"></script>
<script src="{% static 'js/plugins/jquery.scrollUp.min.js' %}"></script>

<!-- Main Activation JS -->
<script src="{% static 'js/main.js' %}"></script>